@font-face {
  font-family: "ITC Avant Garde Gothic Pro";
  font-weight: 400;
  src: url("./assets/fonts/ITCAvantGardePro-Bk.otf") format("opentype");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Pro";
  font-weight: 500;
  src: url("./assets/fonts/ITCAvantGardePro-Md.otf") format("opentype");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Pro";
  font-weight: 600;
  src: url("./assets/fonts/ITCAvantGardePro-Demi.otf") format("opentype");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Pro";
  font-weight: bold;
  src: url("./assets/fonts/ITCAvantGardePro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Pro";
  font-weight: bold;
  src: url("./assets/fonts/ITCAvantGardePro-Bold.otf") format("opentype");
}

@font-face {
  font-family: Avenir;
  src: url("./assets/fonts/Avenir.ttc") format("truetype");
}